body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    flex: 1 1 auto;
}

/* header & header links */
a:link, a:active, a:hover, a:visited {
    text-decoration: none;
    text-decoration-color: wheat;
}

/* hero */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.first-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container-size {
    width: 800px;
    display: flex;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* second section */
.second-section {
    text-align: center;
    padding: 20px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.info-links {
    max-width: 100px;
}

/* third section */

.third-section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb;
}
.quote-container {
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    text-decoration-color: #1f2937;
    font-size: 36px;
    width: 750px;
}
.second-quote {
    display: flex;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

/* fourth section */
.fourth-section {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #3882f6;
    margin: 50px auto;
    padding: 30px;
    width: 700px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
}

/* footer */
.footer {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}